html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}
.page-container {
    height: 100vh;
    position: relative;
}

.page-container-welcome {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url("/images/background.png");
}
.content-wrap {
    padding-bottom: 2.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
